<!DOCTYPE html>
<html lang="en">
<head>
    <!--    <meta charset="UTF-8">-->
    <title>Thank You</title>
    <link href="css/successfulpurchase.css" rel="stylesheet">
</head>
<body>
<h1>Purchase Complete.</h1>
<p>We hope you enjoy your purchase! Please enjoy this 10% discount code for next time.</p>
<pre id="coupon-code"></pre>
<br>
<div id="link">
    <a href="http://localhost:8080/" id="goBack">Back to MainScreen</a>
</div>

<script>
    function discountCode() {
        let code = "";
        const chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (let i = 0; i < 8; i++) {
            let random = Math.floor(Math.random() * chars.length);
            code += chars[random];
        }

        document.getElementById("coupon-code").textContent = "Code: " + code;
    }

    window.onload = discountCode();
</script>
</body>
</html>